body {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: bisque;
}
#container {    
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 2px solid black;
    margin: 100px;
    background-color: white
}

.singleDiv {
    border: 1px solid black;
    box-sizing: border-box;
}   