body {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

p {
  font-family: "Bubbler One", sans-serif;
  font-weight: 900;
  font-style: normal; 
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    width: 750px;
    border: 2px solid black;
    margin: 20px 100px;
    background-color: white
}

.singleDiv {
    border: 1px solid black;
    box-sizing: border-box;
}

.buttons button {
    width: 40px;
    height: 40px;
    background-color: bisque;
    border-radius: 25px;
    border-color: bisque;
}

.newGrid {
    width: auto;
    height: 30px;
    margin-top: 30px;
    background-color: white;
    font-size: 20px;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}